const int sensorPin = A0; // Pino do sensor de gás (entrada analógica)
const int ledVerde = 8; // Pino do LED verde (sinal de segurança)
const int ledVermelho = 9; // Pino do LED vermelho (alerta/perigo)
const int buzzer = 10; // Pino do buzzer (emite som de alerta)
int valorLido; // Variável para armazenar a leitura do sensor
void setup() { 
 pinMode(ledVerde, OUTPUT); // Configura o pino do LED verde como saída
 pinMode(ledVermelho, OUTPUT); // Configura o pino do LED vermelho como saída
 pinMode(buzzer, OUTPUT); // Configura o pino do buzzer como saída
 Serial.begin(9600); // Inicia a comunicação serial a 9600 bps
} 
void loop() { 
 valorLido = analogRead(sensorPin); // Lê o valor do sensor de gás
 Serial.print("Valor lido: "); // Imprime o texto "Valor lido: " no monitor 
 Serial.println(valorLido); // Imprime o valor lido no monitor serial
 // Verifica a condição do gás baseado no valor lido
 if (valorLido <= 200) { 
 digitalWrite(ledVerde, HIGH); // Acende o LED verde (sinal de segurança)
 digitalWrite(ledVermelho, LOW); // Apaga o LED vermelho
 digitalWrite(buzzer, LOW); // Desliga o buzzer
 Serial.println("Condição: Segurança (LED Verde)"); // Imprime no monitor 
 } else if (valorLido > 200 && valorLido < 400) { 
 digitalWrite(ledVerde, LOW); // Apaga o LED verde
 digitalWrite(ledVermelho, HIGH); // Acende o LED vermelho (sinal de alerta)
 digitalWrite(buzzer, LOW); // Desliga o buzzer
 Serial.println("Condição: Alerta (LED Vermelho)"); // Imprime no monitor 
 } else if (valorLido >= 401) { 
 digitalWrite(ledVerde, LOW); // Apaga o LED verde
 digitalWrite(ledVermelho, HIGH); // Acende o LED vermelho (sinal de perigo)
 digitalWrite(buzzer, HIGH); // Liga o buzzer (alarme sonoro)
 Serial.println("Condição: Perigo (LED Vermelho + Buzzer)"); // Imprime no monitor
 } 
 delay (1000); // Pausa de 1 segundo antes de fazer a próxima leitura
